<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %> 

<body>
	<!-- Header -->
	<%- include("./partials/headerDeslogueado") %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- FORMULARIO DE LOGIN -->
			<div class="col-12">
			<!--Usuario-->
				<div class="formadd">
                	<form method="GET" class="search-form">
                    	<input type="email" name="Usuario" placeholder="Usuario" class="search-form_input">
                	</form>
            	</div>
			<!--contraseña-->
				<div class="formadd">
                	<form method="GET" class="search-form">
                    	<input type="password" name="Contraseña" placeholder="Contraseña" class="search-form_input">
                	</form>
            	</div>
			<!--recordarme-->
				<div class="formadd">
                	<form method="GET" class="search-form">
                    	<input type="checkbox" name="recordarme" placeholder="Recordarme" class="search-form_input">
                	</form>	
            	</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<%- include("./partials/footer")  %>
	<!-- /footer -->

</body>
</html>