<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %> 

<body>
	<!-- Header -->
	<%- include("./partials/headerDeslogueado") %> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- FORMULARIO DE LOGIN -->
			<div class="col-12">
			<!--Usuario-->
			<div class="row mb-2">
			<label for="usuario" class="col-1">Usuario:</label>
			<input type="email" id="usuario" name="usuario" class="col-3"></div>
			<!--contraseña-->
			<div class="row mb-2">
			<label for="contraseña" class="col-1">Contraseña:</label>
			<input type="password" id="contraseña" name="contraseña" class="col-3"></div>
			<!--recordarme-->
			<div class="row mb-2">
			<label for="recordarme" class="col-1">Recordarme</label>
			<input type="checkbox" id="recordarme" name="recordarme" class="col-3"></div>
			</div>

	<!-- footer -->
	<%- include("./partials/footer")  %>
	<!-- /footer -->
</body>

</html>