<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head")  %> 

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado")  %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agrega tus productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<div class="formadd">
                <form method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Marca" class="search-form_input">
                </form>
            </div>
			<div class="formadd">
                <form method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Modelo" class="search-form_input">
                </form>
            </div>
			<div class="formadd">
                <form action="/" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Descripción" class="search-form_input">
                    <button type="submit" class="formaddbutton"><i class="fas fa-search"></i></button>
                </form>
            </div>
		</div>
	</div>



	<!-- footer -->
	<%- include("./partials/footer")  %>
	<!-- /footer -->
</body>

</html>