<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!--FORMULARIO DE EDICION -->
			<div class="col-12">
			 <!--Email-->
			 <div class="formadd">
                <form method="GET" class="search-form">
                    <input type="email" name="email" placeholder="Email" class="search-form_input">
                </form>
            </div>
			<!--Nombre-->
			<div class="formadd">
                <form method="GET" class="search-form">
                    <input type="text" name="nombre" placeholder="Nombre" class="search-form_input">
                </form>
            </div>
			<!--Contraseña-->
			<div class="formadd">
                <form method="GET" class="search-form">
                    <input type="password" name="ontraseña" placeholder="Contraseña" class="search-form_input">
                </form>
            </div>
			<!--Fecha de nacimiento-->
			<div class="formadd">
                <form method="GET" class="search-form">
                    <input type="date" name="fechaNacimiento" placeholder="Fecha de nacimiento" class="search-form_input">
                </form>
            </div>
			<!--Numero de documento-->
			<div class="formadd">
                <form method="GET" class="search-form">
                    <input type="number" name="NumeroDNI" placeholder="Numero de documento" class="search-form_input">
                </form>
            </div>
			<!--Foto de perfil-->
			<div class="formadd">
                <form method="GET" class="search-form">
                    <input type="file" name="fotoPerfil" placeholder="Foto de perfil" class="search-form_input">
                </form>
            </div>

	<!-- footer -->
	<%- include("./partials/footer")  %>
	<!-- /footer -->
</body>

</html>